interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://kulturn.kk.dk/opening_hours/instances?from_date=2021-06-23&to_date=2021-06-30&nid=1706
  response:
    body:
      string: '[{"instance_id":21270,"nid":1706,"date":"2021-06-28","start_time":"08:00","end_time":"23:00","category_tid":null,"notice":null,"repeat_rule":null,"repeat_end_date":null,"original_instance_id":21266,"customised":"0","id":21270},{"instance_id":21280,"nid":1706,"date":"2021-06-29","start_time":"08:00","end_time":"23:00","category_tid":null,"notice":null,"repeat_rule":null,"repeat_end_date":null,"original_instance_id":21275,"customised":"0","id":21280},{"instance_id":21289,"nid":1706,"date":"2021-06-23","start_time":"08:00","end_time":"23:00","category_tid":null,"notice":null,"repeat_rule":null,"repeat_end_date":null,"original_instance_id":21285,"customised":"0","id":21289},{"instance_id":21290,"nid":1706,"date":"2[...]
