pydantic[email,dotenv]

# JWT
python-jose
# crypt
cryptography
passlib[bcrypt]
python-multipart
# fido lib from yubico
fido2

# db
asyncpg
psycopg2-binary
sqlalchemy
alembic
sqlakeyset

# requests/client-get
aiohttp[speedups]

# static files serve
aiofiles

# extra
emails

# retry library
tenacity

# sane logging
loguru