pydantic[email,dotenv]

# security stuff
python-jose>=3.3.0
cryptography
passlib[bcrypt]
python-multipart
fido2

# db stuff
asyncpg
psycopg2-binary
# use this sqlalchemy commit until it is rolled out in next release
git+git://github.com/sqlalchemy/sqlalchemy.git@9416910#egg=sqlalchemy
# sqlalchemy>=1.4.18
alembic
sqlakeyset

# integrations/api's
stripe
aiohttp[speedups]

# misc
croniter
tenacity
looms
python-dateutil
loguru
emails
aiofiles
broadcaster[postgres]