interactions:
- request:
    body: email=mwilson%40haynes-davis.net&name=Anthony+Mercado&metadata[user_id]=102
    headers:
      Authorization:
      - Bearer sk_test_SRPWqbjVuApQLSAGcCgqCLr8
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 893c9050-f326-49ff-81b0-ef909cd8d11e
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_Jj67PVa39cawNR\",\n  \"object\": \"customer\",\n
        \ \"address\": null,\n  \"balance\": 0,\n  \"created\": 1624484850,\n  \"currency\":
        null,\n  \"default_source\": null,\n  \"delinquent\": false,\n  \"description\":
        null,\n  \"discount\": null,\n  \"email\": \"mwilson@haynes-davis.net\",\n
        \ \"invoice_prefix\": \"8EE7AC6F\",\n  \"invoice_settings\": {\n    \"custom_fields\":
        null,\n    \"default_payment_method\": null,\n    \"footer\": null\n  },\n
        \ \"livemode\": false,\n  \"metadata\": {\n    \"user_id\": \"102\"\n  },\n
        \ \"name\": \"Anthony Mercado\",\n  \"next_invoice_sequence\": 1,\n  \"phone\":
        null,\n  \"preferred_locales\": [\n\n  ],\n  \"shipping\": null,\n  \"tax_exempt\":
        \"none\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 893c9050-f326-49ff-81b0-ef909cd8d11e
      original-request:
      - req_CuAz4BA9vQIu9L
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_Jj67PVa39cawNR&statement_descriptor_suffix=Full+membership&amount=1000&currency=dkk&payment_method_types[0]=card&metadata[payment_for_product_id]=1&metadata[slot_id]=1
    headers:
      Authorization:
      - Bearer sk_test_SRPWqbjVuApQLSAGcCgqCLr8
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9dad3e59-a6e7-4766-9091-984fe3772c14
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"id\": \"pi_1J5duwB3jLVglL0oeCWetUKa\",\n  \"object\": \"payment_intent\",\n
        \ \"amount\": 1000,\n  \"amount_capturable\": 0,\n  \"amount_received\": 0,\n
        \ \"application\": null,\n  \"application_fee_amount\": null,\n  \"canceled_at\":
        null,\n  \"cancellation_reason\": null,\n  \"capture_method\": \"automatic\",\n
        \ \"charges\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/charges?payment_intent=pi_1J5duwB3jLVglL0oeCWetUKa\"\n
        \ },\n  \"client_secret\": \"pi_1J5duwB3jLVglL0oeCWetUKa_secret_nrylDzHDel9RrsvTrhkn164vt\",\n
        \ \"confirmation_method\": \"automatic\",\n  \"created\": 1624484850,\n  \"currency\":
        \"dkk\",\n  \"customer\": \"cus_Jj67PVa39cawNR\",\n  \"description\": null,\n
        \ \"invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\": false,\n
        \ \"metadata\": {\n    \"payment_for_product_id\": \"1\",\n    \"slot_id\":
        \"1\"\n  },\n  \"next_action\": null,\n  \"on_behalf_of\": null,\n  \"payment_method\":
        null,\n  \"payment_method_options\": {\n    \"card\": {\n      \"installments\":
        null,\n      \"network\": null,\n      \"request_three_d_secure\": \"automatic\"\n
        \   }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"receipt_email\":
        null,\n  \"review\": null,\n  \"setup_future_usage\": null,\n  \"shipping\":
        null,\n  \"source\": null,\n  \"statement_descriptor\": null,\n  \"statement_descriptor_suffix\":
        \"Full membership\",\n  \"status\": \"requires_payment_method\",\n  \"transfer_data\":
        null,\n  \"transfer_group\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 9dad3e59-a6e7-4766-9091-984fe3772c14
      original-request:
      - req_F5FdTCJE24HkVd
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
